<div class="animated fadeIn">
    <div class="row">
        <!--/.col-->

        <div class="col-lg-12">
            <div class="header-content d-flex justify-content-between">
                <div class="row">
                    <div class="col">
                        <input [(ngModel)]="filter.name" type="text" class="form-control" placeholder="Enter email employer">

                    </div>
                    <div class="col">
                        <select class="custom-select" [(ngModel)]="filter.jobLocationId" placeholder="Search category job">
                            <option selected label="All" value=""></option>
                            <option *ngFor="let item of dataCategory" [ngValue]="item.id" [label]="item.name"></option>
                          </select>

                    </div>
                    <div class="col">
                        <select class="custom-select" [(ngModel)]="filter.categoryId" placeholder="Search category job">
                            <option selected label="All" value=""></option>
                            <option *ngFor="let item of dataLocation" [ngValue]="item.id" [label]="item.name"></option>
                          </select>
                    </div>
                </div>
                <div>
                    <button type="button" class="btn btn-primary" (click)="loadJobSeeker()">Search</button>
                </div>
            </div>
            <div>
                <div class="row">
                    <div class="col-sm-12 col-md-4" *ngFor="let item of data">
                        <div class="card" class="mw-100">
                            <img class="card-img-top" src="https://sn3301files.storage.live.com/y4mk7Xk3X3jQ_Bbgiu16C1QiGTaNfLvUMWf-BLEvxtHnKH1oqs35dsHIvgN_NZFoWJI56VUPiQ4KgYc3x8oKFlKbMSLbd60BLj8nT5E2PLSnqNQy9xJl-aQdgUVsbRyjoiwKkQUrV0fBEyTHbWRh5Gi-_vdXmlTI9Dn89imV0Toax2gH7Kttxutw8XokLPUuOtITmT8wLOjC-sjydA6CBQ7fg/Asset%2014.png?psid=1&width=416&height=415"
                                alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <button class="btn btn-primary" (click)="goToDetail(item.id)">Go somewhere</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->

    <!--/.row-->

    <!--/.row-->


</div>