<div>
    <div class="row">
        <div class="col-12">
            <label for="company">Company Name</label>
            <input type="text" class="form-control" placeholder="Enter your company name">
        </div>
        <div class="col-12">
            <label for="company">Company Email</label>
            <input type="text" class="form-control" placeholder="Enter your company mail">
        </div>
        <div class="col-12">
            <label for="company">Company Email</label>
            <input type="text" class="form-control" placeholder="Enter your company mail">
        </div>
        <div class="col-12">
            <label for="company">Username</label>
            <input type="text" class="form-control" placeholder="Enter your username">
        </div>
        <div class="col-12">
            <label for="company">Password</label>
            <input type="text" class="form-control" placeholder="Enter your password">
        </div>
        <div class="col-12">
            <label for="company">Password</label>
            <textarea rows="3" class="form-control" placeholder="Enter your company address"></textarea>
        </div>
    </div>
    <div>
        <button class="btn btn-info">Sign up</button>
    </div>
</div>