<div class="animated fadeIn">
    <div class="row">
        <!--/.col-->
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <!-- <i class="fa fa-align-justify"></i> List Employer -->
                    <div class="row d-flex justify-content-between">
                        <div class="row">
                            <div class="col">
                                <input (ng-model)="filter.name" type="text" class="form-control" placeholder="Enter name company employer">
                            </div>
                            <div class="col">
                                <input ng-model="filter.nameCompany" type="text" class="form-control" placeholder="Enter email employer">
                            </div>
                        </div>
                        <div>
                            <button type="button" class="btn btn-primary" (click)="loadData()">Search</button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Company Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Address</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of data">
                                <td>{{item.id}}</td>
                                <td>{{item.nameCompany}}</td>
                                <!-- <td>{{item.name}}</td>
                                <td>{{item.name}}</td>
                                <td>{{item.name}}</td> -->
                            </tr>
                        </tbody>
                    </table>
                    <!-- <pagination [totalItems]="total" [(ngModel)]="100" [maxSize]="10" class="pagination-sm" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" [boundaryLinks]="true" [rotate]="false" (numPages)="10 = $event"> -->
                    <!-- </pagination> -->
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                        <li class="page-item active">
                            <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->

    <!--/.row-->

    <!--/.row-->
</div>